<html>
    <head>
        <title>Laboratório de Bergster</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Laboratório de Bergster</a></h1>
        </div>

        <div>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>publicado: 14.06.2021, 12:14</p>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia <br>
             quam venenatis vestibulum. Donec id elit non mi porta gravida <br>
             at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor <br>
             mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
<br>
        <div>
            <h2><a href="">Meu segundo post</a></h2>
            <p>publicado: 14.06.2014, 12:14</p>
            <p>Aenean eu leo quam. Pellentesque ornare sem<br>
               lacinia quam venenatis vestibulum. Donec id<br>
               elit non mi porta gravida at eget metus. <br>
               Fusce dapibus, tellus ac cursus commodo, <br>
               tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>